*{
  padding: 0;
  margin: 0;
}
/*contiene el header y el contenido respectivo de la pagina*/
.container {
  display: flow-root;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background: white;
}
/*estilos del logo y los botones de signin y login */
header{

}
/* barra de navegacion de la pagina */
.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
/* NAV */
.barra ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  background: black;
  border-radius: 40px;
}
.barra li a {
  
  color: white;
  display: block;
  text-decoration: none;
  padding: .5em 1em;

}
.barra li a:hover {
  background: tomato;
  color: white;
  border-radius: 50px;
}
  .barra li{
    flex-grow:1;
    text-align:center;
  }
}
.barra a{
    font-family: 'Questrial', sans-serif;
}
.barra img{
  border-radius: 25%;
}
#logo{
  width: 90px;
  height: 90px;
}
/*aca arrancan los estilos del footer*/
footer img {
  width: 40px;
  flex-direction: row;
  margin-left: 50%;
  justify-content: center;
  margin: 10px;
}

footer{
  display: flex;
  justify-content: center;
  background: black;
  color: tomato;

}
