*{
  padding: 0;
  margin: 0;
}
/*contiene el header y el contenido respectivo de la pagina*/

/*NO HAY NADA AHORA EN EL HEADER*/
 .containerPrin {
  width: 100%;
  display: inline-block;
}

/* barra de navegacion de la pagina */
.barra {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}
/* NAV */
.barra ul {
      display: flex;
    list-style: none;
    padding: 0;
    width: 50%;
    background: black;
    margin: 0;
    justify-content: space-between
}
.barra li a {
  color: white;
  display: block;

 
}
.barra li a:hover {
  background: tomato;
  color: white;
  border-radius: 50px;
}
.barra a{
    font-family: 'Questrial', sans-serif;
}
.barra img{
  border-radius: 25%;
}

form label{
  color:black;
}
.card{
  color:black;
}
.buttonSub{
  display: flex;
  justify-content: space-around;
}

#logo{
  width: 70px;
  height: 70px;
}
  main  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
  margin: 25px;
  
}







/* ACA TERMINA EL .barra */

/*aca arrancan los estilos del footer*/
footer img {
  width: 40px;
  flex-direction: row;
  margin-left: 50%;
  justify-content: center;
  margin: 10px;
}

footer{
  display: flex;
  justify-content: center;
  background: black;
  color: tomato;
